<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block blog_content %}
<div class="jumbotron">
    <h2>Please Login:</h2>
    <h3>(Must be SupeUser, please check with admin site)</h3>

    {% if form.errors %}
        <p>Your username and password did not match! Try again.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}